.dropdown {
    position: fixed;
    z-index: 999;
    margin: 0 20px;
}

.dropdown_toggle {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px;
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
}

.dropdown_menu {
    display: block;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 999;
    overflow: hidden;
}

.dropdown_menu li {
    padding: 10px;
    color: #242424;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
}

@media (hover:hover) {
    .dropdown_menu li:hover {
        background-color: #aaaaaa;
    }

    .dropdown_toggle:hover {
        color: #333;
        transition: ease 0.5s;
    }
}

.burger_menu {
    display: none;
}

.burger_bar {
    width: 30px;
    border-color: transparent;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .dropdown_toggle {
        display: none;
    }

    .burger_menu {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px;
    }

    .burger_menu:active .burger_bar {
        background-color: #aaaaaa;
    }
}